* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .topo {
    position: fixed;
    width: 100%;
    height: 80px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: yellowgreen;
    z-index: 2;

} */
body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/Background.png');
    overflow-x: hidden;
}
header{
    background-color: #0E0E0E;
    width: 100vw;
    z-index: 1;
}
.logo{
    width: 50vw;
}
.boxheader{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
.menubox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33vw;
}

.itemenu{
    color: bisque;
    font-family: 'Teko';
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
}
#header{
    display: flex;
    align-items: center;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
    
} 
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
}
/* }
.barra-sup {
    position: fixed;
    width: 100%;
    height: 80px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;;
    z-index: 1;
    margin-right: 90px;
    flex-wrap: nowrap;
}
.link {
    position: relative;
    text-decoration: none;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-right: 1vw;
}
.link:hover {
    background-color: rgb(0, 0, 0,0.2);
    border-radius: 20px ;
    padding: 9px;
    /* border: 3px solid #fb0505;; */
    animation-name: borda-links;
    animation-duration: 500ms;
    animation-delay:  1ms;

@keyframes borda-links {
    0% {background-color: #708090; background: linear-gradient(to right, #708090);}
}
.link:active {
    opacity: 0.2;

}
/* .links {
    position: absolute;
    width: 35vw;
    z-index: 0;
    left: 70%;
} */


.popup {
    opacity: 0;
    pointer-events: none;
    transition: 0.13s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.24);
}
.popup:target {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(5px);
    z-index: 3;
}
.close {
    position: relative;
    top: -38px;
    right: 10px;
    width: 30px;
    height: 40px;
    align-self: end;
    z-index: 1;

    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    letter-spacing: -0.015em;
    text-decoration: none;
    
    color: bisque;
}

.popup-aboutus {
    opacity: 0;
    pointer-events: none;
    transition: 0.13s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.24);
}
.popup-aboutus:target {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(5px);
    z-index: 3;
}
.close-aboutus {
    position: relative;
    width: 60px;
    height: 40px;
    z-index: 1;
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.015em;
    text-decoration: none;
    color: bisque;
    align-self: flex-start;
    left: 52vw;

}
.about-us {
    position: relative;
    top: 29.9vh;
    width: 55vw;
    height: 55vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-end; */
    /* align-content: flex-end ; */
    /* align-items: flex-end; */
    align-items: flex-end;
    margin: 0 auto;
    background:  #0E0E0E;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0);
    border: 2.35px solid #fb0505;
    animation-name: borda;
    animation-duration: 1s;
    animation-delay: 5ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    backdrop-filter: blur(10px);
    gap:20px;

}
.filipe {
    /* align-self: center; */
    margin: 0vh 4vw 3vh 0vw;

}
.filipe a {
    margin-left: 1vw;
    margin-right: 1vw;
}


.container {
    position: absolute;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
    
}
.frase-inicial {
    position: relative;
    margin: 8vh auto;
    z-index: 0;
    width: 55vw;
    color: bisque;
    font-family: 'Teko', sans-serif;
    padding: 10px;
    font-size: 4rem;
}

.ver-login {
    background: rgb(0, 0, 0, 0);
    border: 1px solid bisque;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 3vw ;
    padding-right: 3vw;
    position: relative;
    top: 1vh;
    left:19vw ;
    margin: 0 auto;
    text-decoration: none;
    color: #00f6cb;
}
.ver-login:hover {
    background-color: #FFFFFF;
    color: black;
}
.formulario {
    position: relative;
    top: 25vh;
    width: 35vw;
    height: 55vh;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    margin: 0 auto;
    background:  #0E0E0E;
    border-radius: 12px;
    box-shadow: rgb(0, 0, 0);
    border: 2.35px solid #fb0505;
    animation-name: borda;
    animation-duration: 1s;
    animation-delay: 5ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    backdrop-filter: blur(10px));

}
@keyframes borda {
    0% {border-color:  #0E0E0E;}
    100% {border-color: #FFFFFF;}
    
}
.form {
    width: 100%;
    z-index: 0;
}
.logo-form {
    height: 10vh;
    width: 60%;
    position: absolute;
    top:0px;
    margin: 0 auto;
    left: 0;
    z-index: 0;
}
.logo-form img {
    z-index: 0;
    width: 32vw;
    height: 25vh;
    border-radius: 8px;
}
.email{
    margin-left: 4vw;
    width: 40vw;
    height: 10vh;
    margin-top: 3vh;
    z-index: 1;
}
.label{
    margin-left: 2vw;
    z-index: 1;
    color: white;
}
#email{
    argin: 0 auto;
    width: 25vw;
    height: 5vh;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: white;
    z-index: 1;
}
#email:hover {
    background-color: #a4a4a41c;
    animation-name: input-background;
    animation-duration: 300ms;
    animation-delay: 1ms;
    animation-direction: alternate;
}
@keyframes input-background {
    0% {background-color: #708090; background: linear-gradient(to right, #7080905d,);}

}

.password {
    margin-left: 4vw;
    width: 40vw;
    height: 10vh;
}
#password:hover {
    background-color: #a4a4a41c;
    animation-name: input-background;
    animation-duration: 500ms;
    animation-delay: 1ms;
    animation-direction: alternate;
}
@keyframes input-background {
    0% {background-color: #70809013; background: linear-gradient(to right, #70809027);}

}
#password{
    margin: 0 auto;
    width: 25vw;
    height: 5vh;
    background: #FFFFFF;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    border-radius: 12px;
}
.button button {
    width: 35vw;
    border-color: black;
    border: 1px;
    background-color: none;
    border-radius: 15px;
}
.button button:hover {
    background: linear-gradient(to right, #a4a4a427, #a4a4a41c);
}

#enviar {
    margin-left: 12vw;
    width: 10vw;
    height: 5vh;
}

@media (max-width: 780px){
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #menu{
        display: block; 
        position: absolute;
        width: 100%;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        top: 12rem;
        right: 0px;
        background: #0E0E0E;
        z-index: 1000;
    }
    #nav.active #menu {
        display: block;
        height: 100vh;
        visibility: visible;
        z-index: 1;
    } 
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.05);
        z-index: 1;

    }
    #hamburger {
        color: bisque;
        border-top: 3px solid;
        width: 20px;
        z-index: 1;

        
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
        z-index: 1;

    }
    #nav.active #hamburger {
        border-top-color: transparent;
        z-index: 1;

    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
        z-index: 1;

    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
        z-index: 1;

    }
}