* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;}

    body {
        overflow-x: hidden;
    }
.d-block-w-100 {
    border-radius: 3px;
    width: 100%;
    height: 78vh;
}
    .carousel-control-prev:hover {
    transform: scale3d(1.5, 1.5, 1.5);

}
.carousel-control-next:hover{
    transform: scale3d(1.5, 1.5, 1.5);

}
.carousel-item{
    width: 100vw;
    
}
.itens {
    font-size: 3.9rem;
    font-family: 'Bebas Neue', cursive;
    margin-left: 2.2rem;
    margin-bottom: 0.5rem;
    width: 80vw;
    height:8vh;
    border: solid;
    border-color: black;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin: 2vh auto;
}
.cards {
    position: relative;
    width: 100vw;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.2vw;
    align-content: center;
    margin: 4vw 0 8vw 0;
}
.card1{
    position: relative;
    height: 85vh;
    background: #F4F4F4;
    border-radius: 12px;
    flex-basis: 60vh;
    margin: 0 1vw 5vh 1vw;
    filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1));
}
.card1:hover {
    height: 85vh;
    flex-basis: 60vh;
    transform: scale3d(1.1, 1.07, 1.1);
    border: 2px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;


}
.card1 img {
    width: 100%;
    height: 50%;
    border-radius: 12px;
    /* filter: drop-shadow(0px 8px 12px rgba(0, 0, 0, 0.1)); */


}
.card1 h3 {
    height: 10%;
    font-family: 'Bebas Neue', cursive;
    color: black;
    
    background-color: #F4F4F4;
    position: relative;
    top: -13px;
    opacity: 1;
    padding-top: 2vh ;
    padding-left: 2vw;

}
.card1 p {
    height: 25%;
    font-size: 16.5px;
    margin-left: 2vw;
    margin-right: 1.6vw;
    text-align: justify;
    font-family: 'Bebas Neue', cursive;
    color:black;

}
header{
    background-color: #0E0E0E;
    width: 100vw;

}
.logo{
    width: 50vw;
}
.boxheader{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
.menubox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 33vw;
}

.itemenu{
    color: bisque;
    font-family: 'Teko';
    font-size: 1.8rem;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

ul{
    margin: 0px;
    padding: 0px;
}
#header{
    display: flex;
    align-items: center;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
    
} 
#menu a {
    display: block;
    padding: .5rem;
}
#btn-mobile{
    display: none;
}
footer{
    background-color: #0E0E0E;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    
}
.boxaluno{
    font-family: 'teko';
    margin-left: 2.2rem;
    margin-right: 2.2rem;
    margin-top: 2.2rem;
    text-align: center;
}

.nome1 {
    color: bisque;
    font-size: 1.8rem;
}
.resp{
    color: bisque;
    font-size: 1.1rem;
    
}
.redes{
    margin-top: 1rem;
}
::-webkit-scrollbar {
    width: 3px;
    opacity: 0;
}
::-webkit-scrollbar:hover {
    width: 10px;
    height: 10px;

}
::-webkit-scrollbar-thumb {
    background-color: #3d3d3d;
    height: 11px;
}
::-webkit-scrollbar-track-piece {
    width: 30px;
}
::-scrol
@media (max-width:900px){
    footer{
        flex-direction: column;
        height: max-content;
        
    }
    .boxaluno{
        margin-bottom: 2.2rem;
    }
}

@media (max-width: 780px){
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #menu{
        display: block; 
        position: absolute;
        width: 100%;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        top: 12rem;
        right: 0px;
        background: #0E0E0E;
        z-index: 1000;
    }
    #nav.active #menu {
        display: block;
        height: 100vh;
        visibility: visible;
    } 
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.05);
    }
    #hamburger {
        color: bisque;
        border-top: 3px solid;
        width: 20px;
        
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
<<<<<<< HEAD
=======




>>>>>>> 0578855ae65daa0c2872771e774ca678cfaec5b0
}